.dashes{
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  justify-content: center;
}

.dash {
  width: 40px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  font-family: monospace;
  user-select: none;
  color: black;
}
.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}